<div class="container">
  <ion-grid fixed>
    <ion-row class="ion-justify-content-center">
      <ion-col size="12">
        <h3>ABOUT</h3><br>
        <p>
          Bienvenido a Nea's Collection, donde la creación 
          se encuentra con la simplicidad. En Nea's Collection, 
          nos esforzamos por ofrecer a nuestros clientes una 
          experiencia única al proporcionar no solo productos 
          excepcionales, sino también al compartir nuestro amor 
          por el arte y la creatividad.
        </p>
      </ion-col>
    </ion-row>

    <ion-row class="ion-justify-content-center">
      <ion-col size="3">
        <h3>CATEGORIAS</h3><br>
        <div class="categorias_container">
          <ul>
            <li>Marcos</li>
            <li>Creacion de fotos</li>
            <li>Stickers</li>
            <li>Tarjetas</li>
            <li>Dedicatorias</li>
            <li>Personalizacion</li>
          </ul>
        </div>
      </ion-col>

      <ion-col size="5">
        <ion-row>
          <ion-col size="12">
            <h3>DESTACADOS</h3><br>
            <div class="destacados_container">
              <ul>
                <li>Amplia variedad de marcos para todas las ocasiones.</li>
                <li>Servicios de creación de fotos profesionales y personalizadas.</li>
                <li>Stickers únicos y divertidos para agregar un toque especial a tus creaciones.</li>
                <li>Tarjetas de regalo personalizadas para expresar tus sentimientos de manera única.</li>
              </ul>
            </div>
          </ion-col>
        </ion-row>
      </ion-col>

      <ion-col size="4">
        <h3>CONTACT US</h3><br>
        <div class="contact_container">
          <ul>
            <li>https://www.neascollection.netlify.app</li>
            <li>Whastapp: +505 83591142</li>
          </ul>
        </div>
      </ion-col>
    </ion-row>
  </ion-grid>
  <br>
</div>