<div class="wrapper">
  <div class="img_container">
    <img class="image" src="../../../assets/Images/logo.jpg">
    <div class="header">
      <h1>Nea's Collection</h1>
      <span>Diseños personalizados</span>
    </div>
  </div>

  <div class="postInfo_container">
    <div class="postInfo">
      <div class="post">
        <ion-icon slot="start" name="home"></ion-icon>
        <label>Intro</label>
      </div>

      <div class="post">
        <ion-icon slot="start" name="reorder-three"></ion-icon>
        <label>Productos</label>
      </div>

      <div class="post">
        <ion-icon slot="start" name="image"></ion-icon>
        <label>Galeria</label>
      </div>

      <div class="post">
        <ion-icon slot="start" name="person"></ion-icon>
        <label>Contact Us</label>
      </div>
    </div>
  </div>

  <div class="info_container">
    <div class="icons">
      <img src="../../../assets/icon/facebook.png" class="icon">
      <img src="../../../assets/icon/instagram.png" class="icon">
      <img src="../../../assets/icon/twitter.png" class="icon">
      <img src="../../../assets/icon/tittok.png" class="icon">
    </div>
  </div>

</div>