.content_container{
    background-color: #eeeeee;
    overflow-y: auto;
    flex: 1;
    display: flex;
    .content{
        width: 100%;
        height: 650px;
    }
}

.container{
    width: 100%;
    height: 100%;
    display: flex;
    gap: 5px;
    flex-wrap: wrap;
    justify-content: space-around;
}

.navbar{
    position: fixed;
    background-color: #bbbbbb;
    width: 100%;
}

.cards_container{
    margin-top: 50px;
}

#open-modal{
    margin-right: 25px;
}