<div class="container">
  <div class="img_container">
    <img src="../../../assets/Images/Carousel/img1.jpg">
  </div>

  <div class="info_container">
    <div class="header_info">
      <h3 class="title">
        Marco de madera para fotografias y/o imagenes 
        personalizadas a como podrian ser tarjetas (Es 
        un marco con dimensiones perfectas para pequeños 
        diseños, marco de 5 pulgadas de ancho y 7 pulgadas 
        de largo teniendo un grosor de 1 pulgada)
      </h3>
      <span>50+ comprados el mes pasado</span>
    </div>

    <div class="body_info">
      <div class="price">
        <label>C$</label>
        <strong>{{precio}}</strong>
        <strong>99</strong>
      </div>
      <div class="description_info">
        <ul>
          <li>
            <strong>Diseños de lujo: </strong>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quas dicta sed at aliquam repellat ipsum nam hic impedit sunt illo laborum aspernatur, voluptatem animi pariatur ratione dolores repudiandae voluptatibus sequi?</p>
          </li>
          <li>
            <strong>Marco a la medida: </strong>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Praesentium debitis natus itaque velit quia aliquid assumenda recusandae laborum, ut, veniam numquam a rerum officiis adipisci similique ab corporis accusantium. Illo!</p>
          </li>
          <li>
            <strong>Impresion de alta calidad: </strong>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Nisi eligendi ea, numquam, et temporibus ipsa quidem laborum est, iusto itaque quos voluptatibus impedit repellat officiis quaerat recusandae deleniti praesentium mollitia?</p>
          </li>
          <li>
            <strong>Personalizacion: </strong>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Nisi eligendi ea, numquam, et temporibus ipsa quidem laborum est, iusto itaque quos voluptatibus impedit repellat officiis quaerat recusandae deleniti praesentium mollitia?</p>
          </li>
        </ul>
      </div>
    </div>

    <div class="footer_info">
      <strong>Detalles adicionales</strong>
      <div class="cardInfo_container">
        <img src="../../../assets/icon/store.png">
        <div class="texto">
          <label>Tienda fisica</label>
          <p>
            Productos desarrollados localmente desde casa con 
            maquinaria adecuada para su mejor personalizacion.
          </p>
        </div>
      </div>
    </div>

  </div>

  <div class="price_container">
    <div class="price">
      <label>C$</label>
      <strong>{{precio}}</strong>
      <strong>99</strong>
    </div>
    <div class="body_price">
      <label>Entrega por C${{precio}}.99 entre <strong>1 y 2 dias aproximadamente </strong><a href="#">Ver detalles</a></label>
      <div class="map_container">
        <ion-icon slot="start" name="map"></ion-icon>
        <label>Envio en todo managua</label>
      </div>
      <label class="disponible">Disponible</label>
      <p class="descriEnvio">La transmicion del pedido para los pedidos de este tipo tardan 1 a 2 dias.</p>
      <input type="number" placeholder="Cantidad">
      <div class="botones">
        <button class="btn">Agregar al carrito</button>
        <button class="btn">Comprar</button>
      </div>
      
    </div>

  </div>
</div>